* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #0073e6;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #005bb5;
  font-size: 2em;
  margin-bottom: 15px;
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
}

h3 {
  color: #003d99;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9ff;
  border-left: 4px solid #0073e6;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e9f3ff;
}

button {
  padding: 10px 20px;
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 0 15px;
  }
}

#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: #0073e6;
  background-color: transparent;
  border: 2px solid #0073e6;
  border-radius: 8px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease;
}

#theme-toggle:hover {
  color: #ffffff;
  background-color: #0073e6;
  box-shadow: 0px 4px 10px rgba(0, 115, 230, 0.4);
}

body.dark-theme {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.dark-theme section {
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  color: #4bbfff;
}

.dark-theme li {
  background-color: #444;
  border-left: 4px solid #4bbfff;
}

.dark-theme li:hover {
  background-color: #555;
}
